container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from accounts.models import Account; Account.objects.create_superuser('Aathithyan', 'Sriramachchanthiran', 'aathiaathithyan2000@gmail.com', 'Aathithyan', 'Aathi456')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: greatkart.settings